.hero {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.hero h5 {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    font-weight: 400;
    color: #ffff;
    text-align: center;
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    font-weight: 700;
    color: #ffff;
    text-align: center;
}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffff;
    text-align: center;
    margin: 50px 0px;
}

.cta {
    width: 464px;
    height: 85px;
    background: #B69D14;
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;
text-align: center;
border: none;
color: #FFFFFF;

}


@media (min-width: 768px) and (max-width: 1024px) {

}


@media (min-width: 320px) and (max-width: 480px) {

    .hero {
        margin: 100px 20px;
    }

    .hero h5 {
    font-family: Press Start 2P;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 23px;
    /* or 230% */
    width: 300px;
    text-align: justify;
    
    color: #FFFFFF;
}

.hero h1 {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 47px;
text-transform: capitalize;
text-align: left;
color: #FFFFFF;

}

.hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
    text-align: left;
    margin: 50px 0px;
    padding-right: 50px;
}

.cta {
    width: 157px;
    height: 56px;
    margin-left: -220px;
    z-index: 999;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
    
}