@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Press+Start+2P&display=swap');

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
     background: #080A0B;
    /*background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */

}

  
.container {
  
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gloss {
  position: absolute;
  width: 617.78px;
  height: 423.81px;
  left: -447px;
  top: 402.01px;
  background: rgba(207, 192, 108, 0.35);
  filter: blur(200px);
  transform: rotate(-32.34deg);
  }

  .gloss1 {
    position: absolute;
    width: 617.78px;
    height: 423.81px;
    left: -447px;
    top: 855.17px;
    background: rgba(207, 192, 108, 0.35);
    filter: blur(200px);
    transform: rotate(-32.34deg);
    }

    .Connect h3 {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 65px;
text-align: center;

color: #FFFFFF;
    }

    .Connect button {
width: 250px;
height: 63px;
border: none;
background: #595125;
border-radius: 12px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 37px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}

.modalBackground {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(13, 13, 13, 0.68);
  backdrop-filter: blur(30px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #050B0E;;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title h1 {
  display: inline-block;
  text-align: center;
  margin-top: -100px;
  font-size: 24px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}

.titleCloseBtn {
  justify-content: flex-start;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 70px;
}

.modalContainer .body input {
width: 80%;
height: 125px;
background: #12171A;
border: none;
}



.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*   
.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  display: block;
} */

::placeholder {
  color: #535353;
}

.keyinput {
  font-size: 24px;
  width: 90%;
}

#cancelBtn {
  color: white;
  margin-left: 400px;
}

.message {
  font-size: 32px;
  margin-top: 150px;
}

.thead {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: -70px;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 59px;
/* identical to box height */

text-align: center;

color: #535353;
}

.tbody {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 59px;
/* identical to box height */

text-align: left;

}

.tbody:hover{
   background:rgba(182, 157, 20, 0.39);;
   padding: 0px 10px;
}

#modalaction {
  width: auto;
  padding: 20px;
height: auto;
color: white;
background-color: #B69D14;
border-radius: 7px;
margin-top: 50px;
}



@media (min-width: 320px) and (max-width: 480px) {

.gloss {
  display: none;
}

#cancelBtn {
  color: white;
  margin-left: 300px;
}

}